%buttonhover {
  cursor: pointer;
  transition: background-color 0.24s ease;

  &:hover {
    background-color: $bg--hover;
  }

  &:focus,
  &:active {
    outline: none;
    background-color: $bg--hover;
  }
}

%buttonappearance {
  background-color: transparent;
  border: $border--default;
  color: $text-primary;
  font-size: spacing(1);
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: spacing(2);
  border-radius: 2px;
  padding: spacing(0.25) spacing(0.5);

  &.is-active,
  &.isActive {
    background-color: $bg--active;
  }

  &.isSelected {
    background-color: $bg--selected;
  }

  &:disabled {
    opacity: 0.7;
    pointer-events: none;
    border-color: transparent;
    background: transparent !important;
  }

  &.ok {
    background-color: rgba($c-ok, 0.16);
  }

  &.warning {
    background-color: rgba($c-warning, 0.25);
  }

  &.error {
    background-color: rgba($c-error, 0.25);
  }

  &.secondary {
    border-color: rgba(0, 0, 0, 0.1);
  }

  & svg {
    height: spacing(1);
    fill: currentColor;
    margin-right: spacing(0.5);

    &.end {
      margin-right: 0;
      margin-left: spacing(0.5);
    }
  }
}

button,
.button {
  @extend %buttonhover;
  @extend %buttonappearance;

  &--small {
    font-size: spacing(0.85);
    min-height: auto;
  }

  &--icon {
    padding: spacing(0.25);

    & svg {
      fill: currentColor;
      margin: 0;
    }
  }
}
