// spacing
$spacingBase: 0.95;
$spacingUnit: rem;
@function spacing($value) {
  @return $value * $spacingBase + $spacingUnit;
}

// colors
$c-bg: #f8f6f0;
$c-bg--default: $c-bg;

$text-primary: rgb(29, 20, 6);
$text-secondary: rgba($text-primary, 0.7);
$text-link: rgb(40, 70, 129);
$text-hover: rgba(0, 0, 0, 0.07);

@function c-text($color) {
  @return desaturate(darken($color, 60), 60);
}

// -- states
$c-ok: rgb(133, 227, 0);
$c-warning: rgb(255, 196, 0);
$c-error: rgb(255, 17, 0);

// -- actions
$bg--hover: rgba($text-primary, 0.03);
$bg--focus: $bg--hover;
$bg--selected: rgba($text-primary, 0.1);
$bg--active: rgba($text-primary, 0.06);
$bg--note: rgba(183, 216, 239, 0.27);

// borders
$border--default: solid 1px $text-primary;
$border--secondary: dashed 1px $text-secondary;

// transitions
$transition--button-bg: background-color 360ms ease-in;

// breakpoints
$mq-breakpoints: (
  mobile: 320px,
  mobileLarge: 480px,
  tablet: 660px,
  desktop: 980px,
  wide: 1300px,
);

@mixin bp($bp) {
  @media screen and (min-width: #{map_get($mq-breakpoints, $bp)}) {
    @content;
  }
}
