@import "../style/config";
@import "../style/button";

.app {
  &__layout {
    display: grid;
    min-height: 100vh;
    grid-template-columns: [offset-left] 0 [main] auto [offset-right] 0;
    grid-template-rows: [header] 100px [menu] 50px [main] auto [footer] 100px;

    @include bp(desktop) {
      grid-template-columns: [offset-left] 50px [main] auto [offset-right] 50px;
    }
  }

  &__header {
    padding: spacing(1);
    grid-column-start: main;
    grid-column-end: span 1;
    grid-row-start: header;
    grid-row-end: span 1;
    border-bottom: $border--default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: spacing(1.4);

    &__title {
      font-weight: 900;
    }

    &__logo {
      height: spacing(2);
    }
  }

  &__menu {
    border-bottom: $border--default;
    display: flex;
    align-items: center;
    grid-column-end: span 1;
    grid-column-start: main;
    grid-row-end: span 1;
    grid-row-start: menu;
    margin: 0;
    padding: 0;

    &__link {
      align-items: center;
      align-self: stretch;
      color: inherit;
      display: flex;
      padding: 0 spacing(0.5);
      text-decoration: none;
      transition: background-color 0.36s ease;

      &:hover {
        background-color: $bg--hover;
      }

      &.is-active {
        margin-left: $bg--active;
      }
    }
    &__search {
      margin-left: auto;
    }
  }

  &__main {
    grid-column-start: main;
    grid-column-end: span 1;
    grid-row-start: main;
    grid-row-end: span 1;
    padding: spacing(2) spacing(1);

    @include bp(desktop) {
      padding-left: spacing(0);
      padding-right: spacing(0);
    }
  }

  &__footer {
    font-size: spacing(0.85);
    border-top: $border--default;
    grid-column-end: span 1;
    grid-column-start: main;
    grid-row-end: span 1;
    grid-row-start: footer;
    padding: spacing(1);
  }
}
