@import "../style/config";

%input--base-appearance {
  padding: spacing(0.1);
  display: block;
  width: 100%;
  background-color: $c-bg--default;
  border-width: 0 0 1px 0;

  &:hover {
    background-color: $bg--hover;
  }

  &:focus {
    background-color: $bg--hover;
    outline: none;
  }
}

.input {
  &__control {
    + .input__control {
      margin-top: spacing(1);
    }
  }

  &__label {
    display: block;
    width: 100%;
    font-size: 0.85em;
    padding: spacing(0.1);

    + .input__input {
      margin-top: spacing(0.25);
    }
  }

  &__input {
    @extend %input--base-appearance;
  }

  &__textarea {
    @extend %input--base-appearance;
    min-height: spacing(5);
    resize: vertical;
  }

  &__submit {
    margin-top: spacing(1);
  }
}
