@import "../style/config";

.recipe-detail {
  &__title {
    border-bottom: $border--default;
    font-weight: 600;
    padding: spacing(1) 0;
  }
  &__description {
    font-weight: 500;
    margin-top: spacing(2);
  }
  &__instruction {
    line-height: 1.8;
    padding: 0 0 0 spacing(1);
    margin: spacing(2) 0 0 0;

    > li + li {
      margin-top: spacing(0.5);
    }
  }
}
