@import "../style/config";
@import "../style/button";

.recipe-list-item {
  + .recipe-list-item {
    margin-top: spacing(2);
  }

  &__main {
    @extend %buttonhover;
    display: flex;
    align-items: center;
    padding: spacing(1) 0;

    @include bp(desktop) {
      padding: spacing(1);
      margin: 0 spacing(-1);
    }
  }

  &__content {
    flex: 1 0 80%;
    padding-right: spacing(2);
  }
  &__read {
    flex: 0 0 auto;
  }
  &__title {
    font-weight: 600;
    position: relative;

    &:after {
      content: "";
      display: block;
      background-color: lighten($text-primary, 10);
      position: absolute;
      width: spacing(2);
      height: 2px;
      bottom: spacing(-0.5);
      left: 0;
    }
  }
  &__description {
    margin-top: spacing(1);
    line-height: 1.8;
  }
  &__meta {
    flex-basis: 100%;
    display: flex;
    padding-top: spacing(0.5);
    border-top: $border--secondary;
    justify-content: flex-end;
  }
  &__controls {
    flex: 0 0 auto;

    > * + * {
      margin-left: spacing(1);
    }
  }
}
