@import "~modern-css-reset";
@import "style/config";

body {
  background: $c-bg--default;
  color: $text-primary;
  font-family: "Spartan", sans-serif;
  font-size: spacing(1);
}

// todo @font
p {
  + p {
    margin-top: spacing(1);
  }
}
